In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
folder_path = "C:\\Users\\ryuuu\\Downloads\\100knock-data_analytics\\2章\\"

In [3]:
sales = pd.read_csv(folder_path+"uriage.csv")
customers = pd.read_excel(folder_path+"kokyaku_daicho.xlsx")

In [4]:
sales.head(3)

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二

In [5]:
customers.head(3)

      顧客名       かな  地域                    メールアドレス         登録日
0   須賀ひとみ   すが ひとみ  H市    suga_hitomi@example.com  2018/01/04
1  岡田　 敏也  おかだ としや  E市  okada_toshiya@example.com       42782
2    芳賀 希   はが のぞみ  A市    haga_nozomi@example.com  2018/01/07

In [6]:
sales["purchase_date"] = pd.to_datetime(sales["purchase_date"])
sales["purchase_month"] = sales["purchase_date"].dt.strftime("%Y%m")
res = sales.pivot_table(index="purchase_month",columns="item_name",aggfunc="sum",fill_value=0,values="item_price")

In [7]:
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0.0,1400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1100.0,1200.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2400.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1900.0,2000.0,2200.0,0.0,0.0
201903,0.0,0.0,500.0,1300.0,1600.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201904,2300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1700.0,...,0.0,0.0,0.0,0.0,0.0,1900.0,0.0,0.0,0.0,0.0
201905,0.0,0.0,0.0,0.0,0.0,1900.0,0.0,0.0,0.0,0.0,...,0.0,1200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2500.0
201906,0.0,0.0,0.0,0.0,0.0,0.0,2300.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1600.0,0.0,0.0,0.0,0.0,2400.0,0.0
201907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1500.0,0.0,1800.0,0.0,0.0,0.0,0.0,0.0

## 売り上げを補正する

In [8]:
sales["item_name"] = sales["item_name"].str.upper()
sales["item_name"] = sales["item_name"].str.replace("　","")
sales["item_name"] = sales["item_name"].str.replace(" ","")
sales.sort_values(by="item_name",ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [9]:
pd.unique(sales["item_name"])

array(['商品A', '商品S', '商品Z', '商品V', '商品O', '商品U', '商品L', '商品C', '商品I',
       '商品R', '商品X', '商品G', '商品P', '商品Q', '商品Y', '商品N', '商品W', '商品E',
       '商品K', '商品B', '商品F', '商品D', '商品M', '商品H', '商品T', '商品J'],
      dtype=object)

In [10]:
flg_is_null = sales["item_price"].isnull()
for flg in list(sales.loc[flg_is_null,"item_name"].unique()):
    price = sales.loc[(~flg_is_null) & (sales["item_name"]==flg),"item_price"].max()
    sales.loc[(flg_is_null) & (sales["item_name"]==flg),"item_price"] = price

In [11]:
sales

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1    2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2    2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4    2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904
...                  ...       ...         ...           ...            ...
2994 2019-02-15 02:56:39       商品Y      2500.0          福島友也         201902
2995 2019-06-22 04:03:43       商品M      1300.0          大倉晃司         201906
2996 2019-03-29 11:14:05       商品Q      1700.0          尾形小雁         201903
2997 2019-07-14 12:56:49       商品H       800.0          芦田博之         201907
2998 2019-07-21 00:31:36       商品D       400.0          石田郁恵         201907

[2999 rows x 5 columns]

In [21]:
for flg in list(sales["item_name"].unique()):
    print("=="+flg+"==")
    print("最大値："+str(sales.loc[sales["item_name"]==flg,"item_price"].max())+" 最小値："+str(sales.loc[sales["item_name"]==flg,"item_price"].min(skipna=False)))

==商品A==
最大値：100.0 最小値：100.0
==商品S==
最大値：1900.0 最小値：1900.0
==商品Z==
最大値：2600.0 最小値：2600.0
==商品V==
最大値：2200.0 最小値：2200.0
==商品O==
最大値：1500.0 最小値：1500.0
==商品U==
最大値：2100.0 最小値：2100.0
==商品L==
最大値：1200.0 最小値：1200.0
==商品C==
最大値：300.0 最小値：300.0
==商品I==
最大値：900.0 最小値：900.0
==商品R==
最大値：1800.0 最小値：1800.0
==商品X==
最大値：2400.0 最小値：2400.0
==商品G==
最大値：700.0 最小値：700.0
==商品P==
最大値：1600.0 最小値：1600.0
==商品Q==
最大値：1700.0 最小値：1700.0
==商品Y==
最大値：2500.0 最小値：2500.0
==商品N==
最大値：1400.0 最小値：1400.0
==商品W==
最大値：2300.0 最小値：2300.0
==商品E==
最大値：500.0 最小値：500.0
==商品K==
最大値：1100.0 最小値：1100.0
==商品B==
最大値：200.0 最小値：200.0
==商品F==
最大値：600.0 最小値：600.0
==商品D==
最大値：400.0 最小値：400.0
==商品M==
最大値：1300.0 最小値：1300.0
==商品H==
最大値：800.0 最小値：800.0
==商品T==
最大値：2000.0 最小値：2000.0
==商品J==
最大値：1000.0 最小値：1000.0

## 顧客名を補正する

In [24]:
customers["顧客名"].head()

0     須賀ひとみ
1    岡田　 敏也
2      芳賀 希
3     荻野  愛
4     栗田 憲一
Name: 顧客名, dtype: object

In [25]:
sales["customer_name"].head()

0    深井菜々美
1     浅田賢二
2     南部慶二
3     麻生莉緒
4     平田鉄二
Name: customer_name, dtype: object

In [26]:
customers["顧客名"] = customers["顧客名"].str.replace("　","")
customers["顧客名"] = customers["顧客名"].str.replace(" ","")
customers.head()

     顧客名        かな  地域                     メールアドレス         登録日
0  須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1   岡田敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3    荻野愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [27]:
customers.head(3)

     顧客名       かな  地域                    メールアドレス         登録日
0  須賀ひとみ   すが ひとみ  H市    suga_hitomi@example.com  2018/01/04
1   岡田敏也  おかだ としや  E市  okada_toshiya@example.com       42782
2    芳賀希   はが のぞみ  A市    haga_nozomi@example.com  2018/01/07

In [28]:
flg_is_serial = customers["登録日"].astype(str).str.isdigit()
flg_is_serial.sum()

22

In [ ]:
fromSerial = pd.to_timedelta(customers.loc[flg_is_serial,"登録日"].astype(int)-2,unit="D")+pd.Timestamp("1900-01-01")
# Excelのシリアル値は1900年1月1日を1日目としているが、実際には1900年1月0日が起点となっているため、-2日する必要がある
fromString = pd.to_datetime(customers.loc[~flg_is_serial,"登録日"])
# 文字列として認識された日付をdatetime型に変換
customers["登録日"] = pd.concat([fromSerial,fromString]).sort_index()
# 両者を結合し、元のインデックス順に並び替え

In [41]:
customers["登録年月"] = customers["登録日"].dt.strftime("%Y%m")
rslt = customers.groupby("登録年月").count()["顧客名"]
rslt

登録年月
201701    15
201702    11
201703    14
201704    15
201705    14
201706    13
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 顧客名, dtype: int64

In [ ]:
flg_is_serial = customers["登録日"].astype(str).str.isdigit()
flg_is_serial.sum()

In [50]:
join_data = pd.merge(sales,customers,left_on="customer_name",right_on="顧客名",how="inner")
join_data.drop("customer_name",axis=1,inplace=True)

In [51]:
join_data

,purchase_date,item_name,item_price,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,201906,深井菜々美,ふかい ななみ,C市,fukai_nanami@example.com,2017-01-26,201701
1,2019-07-13 13:05:29,商品S,1900.0,201907,浅田賢二,あさだ けんじ,C市,asada_kenji@example.com,2018-04-07,201804
2,2019-05-11 19:42:07,商品A,100.0,201905,南部慶二,なんぶ けいじ,A市,nannbu_keiji@example.com,2018-06-19,201806
3,2019-02-12 23:40:45,商品Z,2600.0,201902,麻生莉緒,あそう りお,D市,asou_rio@example.com,2018-07-22,201807
4,2019-04-22 03:09:35,商品A,100.0,201904,平田鉄二,ひらた てつじ,D市,hirata_tetsuji@example.com,2017-06-07,201706
...,...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,商品Y,2500.0,201902,福島友也,ふくしま ともや,B市,fukushima_tomoya@example.com,2017-07-01,201707
2995,2019-06-22 04:03:43,商品M,1300.0,201906,大倉晃司,おおくら こうじ,E市,ookura_kouji@example.com,2018-03-31,201803
2996,2019-03-29 11:14:05,商品Q,1700.0,201903,尾形小雁,おがた こがん,B市,ogata_kogan@example.com,2017-03-15,201703
2997,2019-07-14 12:56:49,商品H,800.0,201907,芦田博之,あしだ ひろゆき,E市,ashida_hiroyuki@example.com,2018-07-13,201807
2998,2019-07-21 00:31:36,商品D,400.0,201907,石田郁恵,いしだ いくえ,B市,ishida_ikue@example.com,2017-02-05,201702

In [52]:
# join_data.to_csv("dump_data.csv",index=False)
# 今回は面倒だからファイルの出力はスルー

In [53]:
byItem = join_data.pivot_table(index="purchase_month",columns="item_name",aggfunc="size",fill_value=0,values="item_price")

In [54]:
byItem

item_name,商品A,商品B,商品C,商品D,商品E,商品F,商品G,商品H,商品I,商品J,...,商品Q,商品R,商品S,商品T,商品U,商品V,商品W,商品X,商品Y,商品Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [61]:
byPrice = join_data.pivot_table(index="purchase_month",columns="item_name",aggfunc="sum",fill_value=0,values="item_price")
byPrice

item_name,商品A,商品B,商品C,商品D,商品E,商品F,商品G,商品H,商品I,商品J,...,商品Q,商品R,商品S,商品T,商品U,商品V,商品W,商品X,商品Y,商品Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1800.0,2600.0,5700.0,6800.0,9000.0,9000.0,7700.0,12800.0,16200.0,17000.0,...,28900.0,37800.0,38000.0,34000.0,14700.0,48400.0,29900.0,33600.0,25000.0,0.0
201902,1900.0,2800.0,7800.0,8400.0,8000.0,8400.0,9800.0,13600.0,10800.0,14000.0,...,37400.0,39600.0,41800.0,46000.0,39900.0,48400.0,55200.0,38400.0,27500.0,2600.0
201903,1700.0,4200.0,6000.0,6800.0,4500.0,16200.0,9800.0,14400.0,10800.0,16000.0,...,39100.0,28800.0,38000.0,24000.0,48300.0,39600.0,36800.0,50400.0,40000.0,0.0
201904,1700.0,3800.0,7200.0,8000.0,9000.0,10200.0,9800.0,8800.0,16200.0,13000.0,...,34000.0,36000.0,30400.0,32000.0,23100.0,33000.0,32200.0,38400.0,50000.0,0.0
201905,2400.0,2800.0,4800.0,5600.0,9500.0,10800.0,16100.0,12000.0,14400.0,11000.0,...,22100.0,39600.0,34200.0,32000.0,33600.0,19800.0,48300.0,38400.0,50000.0,0.0
201906,2400.0,2400.0,3300.0,7600.0,6500.0,10800.0,10500.0,10400.0,17100.0,22000.0,...,25500.0,28800.0,39900.0,24000.0,37800.0,44000.0,39100.0,36000.0,32500.0,0.0
201907,2000.0,4000.0,5100.0,6800.0,6000.0,10200.0,13300.0,15200.0,17100.0,23000.0,...,25500.0,34200.0,43700.0,42000.0,27300.0,61600.0,36800.0,43200.0,30000.0,0.0

In [62]:
byCustomer = join_data.pivot_table(index="purchase_month",columns="顧客名",aggfunc="size",fill_value=0,values="item_price")
byCustomer

顧客名,さだ千佳子,中仁晶,中田美智子,丸山光臣,久保田倫子,亀井一徳,五十嵐春樹,井上桃子,井口寛治,井川真悠子,...,香椎優一,高原充則,高梨結衣,高沢美咲,高田さんま,鳥居広司,鶴岡薫,麻生莉緒,黄川田博之,黒谷長利
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,3,1,4,2,2,0,5,3,3,1,...,0,1,1,1,5,2,0,2,2,5
201902,9,1,2,2,1,4,2,1,0,4,...,4,0,3,2,0,1,2,4,0,1
201903,1,2,1,6,1,4,3,3,2,2,...,3,1,6,2,4,2,4,2,2,1
201904,0,3,1,2,0,2,2,0,3,2,...,2,4,2,3,4,3,2,1,2,0
201905,3,2,5,2,4,1,2,1,3,3,...,1,1,1,0,2,2,3,4,4,1
201906,1,3,0,4,1,1,1,2,2,3,...,7,3,0,2,1,0,2,1,2,4
201907,3,0,3,2,5,3,5,2,5,5,...,2,4,4,2,0,2,4,3,4,1

In [64]:
byRegion = join_data.pivot_table(index="purchase_month",columns="地域",aggfunc="size",fill_value=0,values="item_price")
byRegion

地域              A市  B市  C市  D市  E市  F市  G市  H市
purchase_month
201901          59  55  72  34  49  57  49  42
201902          71  46  65  48  61  52  43  63
201903          64  52  57  43  52  59  51  59
201904          64  48  54  45  48  58  40  52
201905          57  52  68  48  59  65  35  43
201906          53  47  61  30  51  51  58  58
201907          76  53  61  42  54  64  47  54

In [69]:
away_data = pd.merge(sales,customers
                     ,left_on="customer_name",right_on="顧客名",how="right")
away_data[away_data["purchase_date"].isnull()][["顧客名","地域","登録日","メールアドレス"]]
#右側結合することで、購入履歴の無い顧客を抽出できる

       顧客名  地域        登録日                  メールアドレス
2999  福井美希  D市 2019-04-23  fukui_miki1@example.com